{% extends 'base.html' %}

{% block content%}

{% if user.is_authenticated %}

<style>
  .btn {
    border: none;
    background-color: inherit;
    padding: 250px 190px;
    font-size: 50px;
    cursor: pointer;

    display: inline-block;
  }
  
  .btn:hover {background: #eee;}
  
  .add_rec {color: green;}
  .see_report {color: dodgerblue;}
  </style>

<body>
  
  <button type="button" onclick="location.href='{% url 'add_record' %}'" class="btn add_rec" >Add Record</button>
  <button type="button" onclick="location.href='{% url 'ad'         %}'" class="btn see_report">View Report</button>


</body>

{% else %}




<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="Username" required>
          
        </div><br/>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      
    </form>

</div>

{% endif %}

{% endblock %}